html
{
    font-size: 10px;
}
.README
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 60rem;
    float: left;
}
h1
{
    font-size: 3rem;
    padding-top: 1rem;
}
#zyk
{
    padding-left: 2rem;
}
p{
    padding-left: 2rem;
    font-size: 1.6rem;
}
.button
{
    display: flex;
    flex-direction: row;
}

.button1
{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid black;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.8rem;
    margin-left: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
}
.button1:hover
{
    background-color: black;
    color: white;
}
.global
{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 60rem;
    float: right;
}
.in1
{
    margin-top: 2rem;
    height: 3.4rem;
    flex-grow: 1;
    width: 30rem;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    
}
.in1 #text
{
    float: right;
    margin-top: 1.5rem;
}
/* in2下属guide1,2,3 */
.in2
{
    display: flex;
    flex-direction: column;
    flex-grow: 30;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 4px 4px 16px 4px rgba(0,0,0,0.2);
}
.guide1
{
    flex-grow: 2;
    width:30rem;
    height: 6rem;
    zoom: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 0.1rem solid rgb(0, 0, 0);
}
.box_num
{
    height: 100%;
    /* border: 1px solid rgb(0, 174, 255); */
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.num
{
    flex-grow: 2;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    /* border:0.1rem solid rgb(0, 174, 255); */
}
/* num是指一个个小方块（联想计算器） */
.guide2
{
    flex-grow: 2;
    width:30rem;
    height: 6rem;
    zoom: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 0.1rem solid rgb(0, 0, 0);
}
.guide3
{
    flex-grow: 2;
    width:30rem;
    height: 6rem;
    zoom: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.special_num
{
    flex-grow: 7;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.special_num:hover
{
    background-color: rgb(0, 136, 255);
    color: aliceblue;
    cursor: pointer;
}

#c
{
    font-size: 1.5rem;
    font-weight: bold;
}
.mul
{
    height: 5.871rem;
}
/* 上面是大致框架，下面是修饰 */
.num:hover
{
    background-color: rgb(78, 76, 76);
    color: aliceblue;
    cursor: pointer;
}
.num:active
{
    background-color: black;
}
